@media print {
  body {
    background: #fff !important;
  }

  .no-print,
  .MuiAppBar-root,
  .MuiDrawer-root,
  .MuiButton-root,
  .MuiIconButton-root,
  .MuiSwitch-root,
  .MuiChip-root,
  svg {
    display: none !important;
  }

  .filters-section {
    display: none !important;
  }

  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th,
  td {
    border: 1px solid #ccc !important;
    padding: 8px !important;
    font-size: 12px !important;
    color: #000 !important;
  }

  th {
    background: #f2f2f2 !important;
    font-weight: 600;
  }

  .print-header {
    display: block !important;
    margin-bottom: 12px;
  }

  @page {
    size: A4;
    margin: 15mm;
  }
}


.print-only {
  display: none;
}

@media print {
  .print-only {
    display: inline !important;
    font-weight: 500;
  }
}
